@import '~antd/dist/antd.css';

.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
  background: #f3f3f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0,0,0, 0.14) ;
  font-size: 22px;
  text-transform: uppercase;
}

.card .card-content {
  padding: 24px;
}

.card .card-footer {
  border-top: 1px solid #e6e6e6;
  padding: 16px 24px;
}

.card .card-icon {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.fas.fa-pen, .fas.fa-times {
  color: #7159c1;
  margin-left: 10px;
}

.ant-progress-text {
  font-size: 25px;

}
