
.row {
  margin: 8% auto;
  max-width: 80%;
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(250px, 1fr)) ;
  column-gap: 20px;
}

.row .card {
  text-align: center;
  height: 250px;
}
