.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0,0,0, 0.14) ;
}

.card .card-content {
  padding: 24px;
}

.card .card-footer {
  border-top: 1px solid #ccc;
  padding: 16px 24px;
}


.card .card-icon {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.icon-edit .icon-close {
  color: #7159c1;
}
